<nav class="navbar navbar-light bg-light">
    <!-- Logo and Prompt -->
    <div class="container-fluid">
        <!-- Logo -->

        <a class="navbar-brand fw-bold" href="/">
            <span class="fs-4">BokStop</span>
        </a>
        <!-- Prompt -->
        <div>
<!--            <a href="/login">Login</a> | <a href="signup">Sign up</a>-->
        </div>
    </div>
</nav>